
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validresume</title>
    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/time.js">
    </script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div id="div123">
        <form id="form" name="resumeChooseForm" action="/engage_resume/" method="post">
            <input type="hidden" name="engageResume.humanMajorKindName"
                   id="majorKindName" />
            <input type="hidden" name="engageResume.humanMajorName"
                   id="majorName" />
            <input type="hidden" name="engageResume.checkStatus"
                   value="false" />

            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--招聘管理--简历查询--有效简历查询 </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="开始" class="BUTTON_STYLE1" v-on:click="ks">
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请选择职位分类
                    </td>
                    <td class="TD_STYLE2" width="30%">
                        <select name="major_kind_name" multiple="multiple" style="width: 290;height: 100"
                                id="majorKindId" class="SELECT_STYLE2">
                            <option value="" selected="selected">--请选择--</option>
                            <option v-for="(item,i) in row1" v-on:click="ld(item.major_kind_id)" v-model="item.major_kind_id">{{item.major_kind_name}}</option>
                        </select>
                        <select name="major_name" multiple="multiple" style="width: 290;height: 100"
                                id="majorId" size="5"
                                class="SELECT_STYLE2">
                            <option value="" selected="selected">
                                --请选择--
                            </option>
                            <option v-for="(item,i) in row2" v-model="item.major_id">{{item.major_name}}</option>
                        </select>

                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请输入关键字
                    </td>
                    <td width="84%">
                        <input type="text" name="utilBean" value=""
                               class="INPUT_STYLE2" id="gjz" />
                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请输入登记时间
                    </td>
                    <td width="84%" class="TD_STYLE2">
                        <input type="hidden" name="datePropertyName" value="registTime" />

                        <input type="text" name="startDate" id="text1"
                               style="width: 14%" class="INPUT_STYLE2">
                        至
                        <input type="text" name="endDate"
                               style="width: 14%" class="INPUT_STYLE2" id="text2">
                        （YYYY-MM-DD）
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/javascript/vue.js"></script>
<script type="text/javascript">
    $(document).on("focus", "#text1", function () {
        WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' });
    })
    $(document).on("focus", "#text2", function () {
        WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' });
    })
    var vm = new Vue({
        el: "#div123",
        data: {
            row1: null,
            row2:null
        },
        methods: {
            load: function () {
                var v = this;
                $.ajax({
                    url: "/engage_resume/resumechoose2",
                    type: "post",
                    data: "",
                    success: function (msg) {
                        var dt = eval("(" + msg + ")");
                        v.row1 = dt;
                    }
                })
            }, ld:function(obj) {
                var v = this;
                $.ajax({
                    url: "/engage_resume/resumechoose3",
                    type: "post",
                    data: "mid="+obj,
                    success: function (msg) {
                        var dt = eval("(" + msg + ")");
                        v.row2 = dt;
                    }
                })
            }, ks: function () {
                var major_kind_id = $("#majorKindId").val();
                var major_id = $("#majorId").val();
                var gjz = $("#gjz").val();
                var startDate = $("#text1").val();
                var endDate = $("#text2").val();
                window.location.href = "/engage_resume/validlist?major_kind_id=" + major_kind_id + "&major_id=" + major_id + "&gjz=" + gjz + "&startDate=" + startDate + "&endDate=" + endDate;
            }
        }, created: function () {
            this.load();
        }
    })
</script>