
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>position_change_update1</title>
</head>
<body>
    <div> 
        <h1>亲，你没有申请职位；系统将在3秒后自动跳转到申请职位页面</h1>
    </div>
</body>
</html>
<script type="text/javascript">
        setTimeout(function () {
            window.location.href = "/engage_major_release/position_change_update";
        }, 3000)
</script>