
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register_success</title>
    <link href="~/css/table.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <form name="humanfileForm" method="post" action="">
            <table width="100%">
                <tr>
                    <td>
                        <font color="#0000CC">您正在做的业务是:人力资源--调动管理--调动登记</font>
                    </td>
                </tr>
                <tr>
                    <td width="49%"> 登记成功,待复核！</td>
                    <td width="51%" align="right">
                        <input type="button" class="BUTTON_STYLE1" onclick="javascript: window.location = '/transfer/register_locate';" value="返回">
                    </td>

                </tr>
            </table>
        </form>

    </div>
</body>
</html>
