
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎使用Bette伯乐人力资源管理系统</title>
    <script src="../jquery-easyui-1.3.5/jquery.min.js"></script>
    <script src="../jquery-easyui-1.3.5/jquery.easyui.min.js"></script>
    <link href="../jquery-easyui-1.3.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="../jquery-easyui-1.3.5/themes/icon.css" rel="stylesheet" />
    <script src="../jquery-easyui-1.3.5/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript">
    $(function () {
        $('#tt').tree({
            url: "/usser/ShowBYQX?RoleID=" + localStorage.getItem("jsid"),
            onClick: function (node) {
                //子父的标准
                var state = node.state;
                if (state == "open") {
                    //跳转的地址
                    var url = node.Aaddress;
                    var text = node.text;
                    if ($("#tt1").tabs("exists", text)) {
                        $("#tt1").tabs("select", text)
                    } else {
                        $('#tt1').tabs('add', {
                            title: text,
                            content: '<iframe frameborder="0" src=' + url + ' width="100%" height="100%"/>',
                            closable: true,
                            tools: [{
                                iconCls: 'icon-mini-refresh',
                                handler: function () {
                                    alert('refresh');
                                }
                            }]
                        });
                    }
                }
            }
        });
    });
    </script>
</head>

<body class="easyui-layout">

    <div data-options="region:'north',split:true" style="height:109px;">
        <iframe src="/usser/top" width="100%" height="110px" frameborder="0"></iframe>
     
    </div>
    <div data-options="region:'west',title:'',split:true" style="width:150px;">
        <ul id="tt"></ul>
    </div>
    <div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;">
        <div id="tt1" class="easyui-tabs" style="width:1000px;height:400px;">
            <frameset cols="200,*" frameborder="NO" border="0" framespacing="0">
                <frame src="/usser/mian" name="mainFrame">
            </frameset>
        </div>

    </div>
</body>
</html>
