
@{
    ViewBag.Title = "check_list";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <title>无标题文档</title>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/Content/jquery.unobtrusive-ajax.js"></script>
    <script src="~/javascript/vue.js"></script>
    <style type="text/css">
        <!--
        .style3 {
            color: #0000CC;
        }

        td {
            text-align: center;
        }
        -->
    </style>
</head>

<body>
    <form action="" id="ji" method="post">
        <table width="100%">
            <tr>
                <td style="text-align:left;">
                    <font color="black">您正在做的业务是:人力资源管理--薪酬发放管理--薪酬发放登记审核</font>
                    <br /><br /><br />
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="10%" class="TD_STYLE1">
                    <span>薪酬发放编号</span>
                </td>
                <td width="20%" class="TD_STYLE1">
                    <span>I级机构名称</span>
                </td>
                <td width="20%" class="TD_STYLE1">
                    <span>II级机构名称</span>
                </td>
                <td width="20%" class="TD_STYLE1">
                    <span>III级机构名称</span>
                </td>
                <td width="10%" class="TD_STYLE1">
                    <span>人数</span>
                </td>
                <td width="10%" class="TD_STYLE1">
                    基本薪酬总额(元)
                </td>
                <td width="10%" class="TD_STYLE1">
                    复核
                </td>
            </tr>


            <tr class="TD_STYLE2" v-for="(item,index) in dt">
                <td>
                    {{item.sgr_id}}
                </td>
                <td>{{item.first_kind_name}}</td>
                <td>{{item.second_kind_name}}</td>
                <td>{{item.third_kind_name}}</td>
                <td>{{item.human_amount}}</td>
                <td>{{item.salary_standard_sum}}</td>

                <td><a v-on:click="cz(item.id)" v-bind:href="['/salary_grant/check/'+item.salary_grant_id]">复核</a></td>
            </tr>
        </table>
    </form>   
           
            <p style="text-align: center;">

                <a style="color:black;" v-on:click="sy()">首页</a>


                <a style="color:black;" v-on:click="syy()">上一页</a>

                <a style="color:black;" v-on:click="xyy()">下一页</a>



                <a style="color:black;" v-on:click="wy()">尾页</a>

            
                        </p></body></html>
<script type="text/javascript">
    //总页数
    var currentPage = 1;
    var pages = 1;
    //当前页
    var zdy = 1;
    var vr = new Vue({
            el: "#ji",
            data: {
                dt: null,
                message: null,
                zys: null,
                dqy:null
            },
            methods: {
                load: function () {
                    var t = this;
                    $.ajax({
                        url: "/salary_grant/dacx1?id=" + zdy,
                        type: "post",
                        data: "",
                        success: function (msg) {
                            console.info(msg)
                            var dd = eval("(" + msg + ")");
                            console.info(dd);
                            t.dt = dd.li;
                            t.message = dd.MyProperty;
                            currentPage = dd.zys;

                        }
                    });
                },
                tj: function () {
                    window.location.href = "config_major_kindxg";
                },
                sy: function () {
                    zdy = 1;
                    this.load();
                },
                wy: function () {
                    zdy = currentPage;
                    this.load();
                },
                syy: function () {
                    if (zdy > 1) {
                        zdy--;
                    } else {
                        zdy = 1;
                    }
                    this.load();
                },
                xyy: function () {
                    if (zdy < currentPage) {
                        zdy++;
                    } else {
                        zdy = currentPage;
                    }
                    this.load();
                }
            }
            ,
            created: function () {
                this.load();
            }
        })
</script>
                       
