<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
          <container name="containerOne"> 
            <register type="IDAO.config_file_first_kindIDAO,IDAO" mapTo="DAO.config_file_first_kindDAO,DAO" name="config_file_first_kindDAO"></register>
            <register type="IDAO.usersIDAO,IDAO" mapTo="DAO.usersDAO,DAO" name="usersDAO"></register>
            <register type="IDAO.config_major_kindIDAO,IDAO" mapTo="DAO.config_major_kindDAO,DAO" name="config_major_kindDAO"></register>
            <register type="IDAO.config_majorIDAO,IDAO" mapTo="DAO.config_majorDAO,DAO" name="config_majorDAO"></register>
            <register type="IDAO.config_public_charIDAO,IDAO" mapTo="DAO.config_public_charDAO,DAO" name="config_public_charDAO"></register>
            <register type="IDAO.engage_major_releaseIDAO,IDAO" mapTo="DAO.engage_major_releaseDAO,DAO" name="engage_major_releaseDAO"></register>
            
          </container>
      <container name="containerTwo">
        <register type="IBLL.config_file_first_kindIBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.usersIBLL,IBLL" mapTo="BLL.usersBLL,BLL" name="usersBLL"></register>
        <register type="IBLL.config_major_kindIBLL,IBLL" mapTo="BLL.config_major_kindBLL,BLL" name="config_major_kindBLL"></register>
        <register type="IBLL.config_majorIBLL,IBLL" mapTo="BLL.config_majorBLL,BLL" name="config_majorBLL"></register>
        <register type="IBLL.config_public_charIBLL,IBLL" mapTo="BLL.config_public_charBLL,BLL" name="config_public_charBLL"></register>
        <register type="IBLL.engage_major_releaseIBLL,IBLL" mapTo="BLL.engage_major_releaseBLL,BLL" name="engage_major_releaseBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
