<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
          <container name="containerOne"> 
            <register type="IDAO.config_file_first_kindIDAO,IDAO" mapTo="DAO.config_file_first_kindDAO,DAO" name="config_file_first_kindDAO"></register>
          </container>
      <container name="containerTwo">
        <register type="IBLL.config_file_first_kindIBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
