<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
          <container name="containerOne"> 
            <register type="IDAO.StudentIDAO,IDAO" mapTo="DAO.StudentDAO,DAO" name="StudentDAO"></register>  
          </container>
      <container name="containerTwo">
        
        <register type="IBLL.StudentIBLL,IBLL" mapTo="BLL.StudentBLL,BLL" name="StudentBLL"></register>
   
      </container>
    </containers>
  </unity>
</configuration>
